USE [BibliotecaDB]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 15/04/2026 10:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Autor] [nvarchar](150) NOT NULL,
	[Categoria] [nvarchar](100) NULL,
	[Anio] [int] NOT NULL,
	[Disponible] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestamos]    Script Date: 15/04/2026 10:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LibroId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[FechaPrestamo] [datetime] NOT NULL,
	[FechaDevolucion] [datetime] NOT NULL,
	[FechaDevolucionReal] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 15/04/2026 10:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[DNI] [nvarchar](20) NOT NULL,
	[FechaAlta] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Libros] ON 

INSERT [dbo].[Libros] ([Id], [Titulo], [Autor], [Categoria], [Anio], [Disponible]) VALUES (4, N'Principito', N'yo', N'miedo', 1234, 1)
INSERT [dbo].[Libros] ([Id], [Titulo], [Autor], [Categoria], [Anio], [Disponible]) VALUES (5, N'mago de oz', N'extremoduro', N'aventura', 1999, 1)
SET IDENTITY_INSERT [dbo].[Libros] OFF
GO
SET IDENTITY_INSERT [dbo].[Prestamos] ON 

INSERT [dbo].[Prestamos] ([Id], [LibroId], [UsuarioId], [FechaPrestamo], [FechaDevolucion], [FechaDevolucionReal]) VALUES (6, 4, 7, CAST(N'2026-04-14T12:24:00.293' AS DateTime), CAST(N'2026-05-04T12:24:00.297' AS DateTime), CAST(N'2026-04-14T12:24:39.510' AS DateTime))
INSERT [dbo].[Prestamos] ([Id], [LibroId], [UsuarioId], [FechaPrestamo], [FechaDevolucion], [FechaDevolucionReal]) VALUES (7, 5, 8, CAST(N'2026-04-14T12:27:19.887' AS DateTime), CAST(N'2026-05-04T12:27:19.887' AS DateTime), CAST(N'2026-04-14T12:28:06.977' AS DateTime))
INSERT [dbo].[Prestamos] ([Id], [LibroId], [UsuarioId], [FechaPrestamo], [FechaDevolucion], [FechaDevolucionReal]) VALUES (8, 5, 7, CAST(N'2026-04-14T13:17:12.000' AS DateTime), CAST(N'2026-05-04T13:17:12.003' AS DateTime), CAST(N'2026-04-14T13:21:33.213' AS DateTime))
SET IDENTITY_INSERT [dbo].[Prestamos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nombre], [DNI], [FechaAlta]) VALUES (7, N'illojuan', N'123', CAST(N'2026-04-14T09:13:04.757' AS DateTime))
INSERT [dbo].[Usuarios] ([Id], [Nombre], [DNI], [FechaAlta]) VALUES (8, N'Manolo', N'12', CAST(N'2026-04-14T12:26:47.660' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__C035B8DD777E0F0B]    Script Date: 15/04/2026 10:38:44 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Libros] ADD  DEFAULT ((1)) FOR [Disponible]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (sysdatetime()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD FOREIGN KEY([LibroId])
REFERENCES [dbo].[Libros] ([Id])
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
